<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>

<body>

  <div class="login-reg-panel">
    <div class="login-info-box">
      <h2>Have an account?</h2>
      <label id="label-register" for="log-reg-show">Login</label>
      <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
    </div>

    <div class="register-info-box">
      <h2>Don't have an account?</h2>
      <label id="label-login" for="log-login-show">Register</label>
      <input type="radio" name="active-log-panel" id="log-login-show">
    </div>
    <div class="white-panel">
      <form class="login-show" action="/login" method="post">
        <h2>LOGIN</h2>
        <input name="Email" type="text" placeholder="Email">
        <input name="Password" type="password" placeholder="Password">
        <input type="submit" value="Login">
      </form>
      <form class="register-show" action="/signup" method="post">
        <h2>REGISTER</h2>
        <input name="Name" type="text" placeholder="Name">
        <input name="Email" type="text" placeholder="Email">
        <input name="Password" type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        <input type="submit" value="Register">
      </form>
    </div>
  </div>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascripts/home.js"></script>
</body>

</html>