<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <form action="/list/task/new" method="post">
      Title:<input type="text" name="Title" id="Title" placeholder="Title"><br>
      Score:<input type="number" name="Score" id="Score" placeholder="Score"><br>
      Description:<input type="text" name="Description" id="Description" placeholder="Description"><br>
      <input type="submit" value="submit">
   </form>
</body>

</html>