@import url('https://fonts.googleapis.com/css?family=Mukta');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;

   font-family: 'Mukta', sans-serif;
   width:100%;
	height:100vh;
	background-image: url('../images/Circuit\ Board.svg');
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
   overflow: hidden;
}
.menu{
	width:20%;
	height:100vh;
	background-color:#AB66FF ;
}
.menu ul{
	
	list-style-type: none;
}
.menu li{
	width:100%;
}
.menu li:hover>a{
	color:#AB66FF;
	background-color: white;
}
.menu div{
	margin: 15px;
	font-size:2vw;
}
.menu a{
	display: block;
	transition:0.2s;
	width:100%;
	font-size: 2vw;
	color: white;
	text-decoration: none;
	padding:20px;
}
.main{
	display : flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-around;
	width:80%;
	height: 100vh;
	background-color:rgba(255,255,255,0.5)
}